<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edmt.dev.androidgridlayout">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="Robot4kids"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".HomePage"
            android:configChanges="orientation"
            android:label="Robot4Kids"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnAnimals"
            android:configChanges="orientation"
            android:label="Animaux"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LearnVegetables"
            android:configChanges="orientation"
            android:label="Légumes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LearnFruits"
            android:configChanges="orientation"
            android:label="Fruits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Learn"
            android:configChanges="orientation"
            android:label="Apprentissage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchForAnimals"
            android:configChanges="orientation"
            android:label="Les animaux"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchForVegetables"
            android:configChanges="orientation"
            android:label="Les légumes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchForFruits"
            android:configChanges="orientation"
            android:label="Les fruits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MentalCalculations"
            android:configChanges="orientation"
            android:label="Calcul Mental"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FreeMovement"
            android:configChanges="orientation"
            android:label="Déplacement Libre"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchForObject"
            android:configChanges="orientation"
            android:label="Objets cachés"
            android:screenOrientation="portrait" />
    </application>

</manifest>