<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edmt.dev.androidgridlayout">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="Robot4kids"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".MissingOneLetter"
            android:configChanges="locale|orientation"
            android:label="@string/words_game"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SetLanguage"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:configChanges="locale|orientation"
            android:label="Robot4Kids"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LearnAnimals"
            android:configChanges="locale|orientation"
            android:label="@string/animals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LearnVegetables"
            android:configChanges="locale|orientation"
            android:label="@string/vegetables"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LearnFruits"
            android:configChanges="locale|orientation"
            android:label="@string/fruits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Learn"
            android:configChanges="locale|orientation"
            android:label="@string/learning"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchForAnimals"
            android:configChanges="locale|orientation"
            android:label="@string/animals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchForVegetables"
            android:configChanges="locale|orientation"
            android:label="@string/vegetables"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchForFruits"
            android:configChanges="locale|orientation"
            android:label="@string/fruits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MentalCalculations"
            android:configChanges="locale|orientation"
            android:label="@string/mental_calculations"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FreeMovement"
            android:configChanges="locale|orientation"
            android:label="@string/free_movement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchForObject"
            android:configChanges="locale|orientation"
            android:label="@string/hidden_objects"
            android:screenOrientation="portrait" />
    </application>

</manifest>